body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote{
	margin: 0px; 
	padding: 0px; 
	border: 0px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff url(images/bg11.png) repeat-x;
}

.clear:after {
	clear: both;
	content: ".";
	visibility:hidden;
	display:block;
}

.clear {
	zoom:1; /* needs to be here for IE 5+ */
}

.inner-body {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	background: white;
	height: 100px; 
	padding: 35px 0 0 0; 
}

	#header ul#nav{
		float: right;
		list-style: none;
		margin: 10px 0 0 0;	
	}

		#header ul#nav li{
			float: left;
			padding: 0 0 0 40px;
			margin: 0 35px 0 0;
			background: url(images/nav-separator.png) left no-repeat;
		}
	
		#header ul#nav li: first{
			background: none;
		}
		
		#header ul#nav li a {
			font-size: 16px; color:#6d6d6d; text-decoration: none; 
		}
			#header ul#nav li a:hover, #header ul#nav li a.active{
				color: #454545;
			}

	.logo {
		width: 225px; 
		height: 60px;
		float: left;
		background: #ddd;
	}

#featured-header{
		clear: both;
		height: 370px;
		background: green;
	}
	.animation {
		float:left;
		background: #ddd;
		width:630px;
		height:250px;
	}
	.featuredText{
		float:right;
		background: #ddd;
		width:330px;
		height:250px;
	}
	
#news-container {
	background: red;
}
    .news {
		float:left;
		background: #ddd;
		width:630px;
		height:250px;
}
	.activities {
		float:right;
		background: #ddd;
		width:330px;
		height:250px;
}
	
.video-top-shadow{
	text-align:center;
}
	
#video-container {
	background: blue;
}
	.video_playback {
		float:left;
		background: #ddd;
		width:630px;
		height:250px;
	}
	.video_playlist {
		float:right;
		background: #ddd;
		width:330px;
		height:250px;
	}
		.video_playlist li{}
		
.footer-top-shadow {
	text-align:center;
}
		
#footer-container{
	background: #f3f3f3; clear: both;
}

	#footer{
		padding: 30px 0 50px 0;
		background:url(images/footer-shadow1.jpg) center top no-repeat;
		margin: 0 auto;
		padding: 30px 0 50px 0;
		background:url(images/footer-shadow1.jpg) center top no-repeat;
	}
	
.test {
	min-height: 400px;
}